<%= render "shared/header" %>

<div class="main-wrapper">
  <div class="main-container">
    <div class="main_menus">
        <div class="main_menu"><a href="#">対戦相手を探す</a></div>
        <div class="main_menu"><a href="#">チーム情報</a></div>
    </div>
    <div class="main_menus">
        <div class="main_menu"><a href="#">対戦相手を探す</a></div>
        <div class="main_menu"><a href="#">チーム情報</a></div>
    </div>
    <div class="main_menus">
        <div class="main_menu"><a href="#">対戦相手を探す</a></div>
        <div class="main_menu"><a href="#">チーム情報</a></div>
    </div>   
  </div>
</div>

<%= render 'shared/footer' %>
