<header class="header">
  <div class="header_container">
    <div class="header_logo"><a href="/">Base_B</a></div>
    <div >
      <ul class="header_lists">
        <li class="header_list"><a class="post" href="#">対戦相手を探す</a></li>
        <li class="header_list"><a class="post" href="#">チーム情報</a></li>
    </div>
  </div>
</header>
