<header class="header">
  <div class="header_container">
    <div class="header_logo"><a href="/">Base_B</a></div>
    <div >
      <ul class="header_lists">
        <li class="header_list"><a class="header-link" href="#">ログインする</a></li>
        <li class="header_list"><%= link_to "新規登録", new_team_registration_path, class: "header-link" %></li>
      </ul>
    </div>
  </div>
</header>
