<header class="header">
  <div class="header_container">
    <div class="header_logo"><a href="/">Base_B</a></div>
    <div >
      <ul class="header_lists">
        <li class="header_list"><a href="#">ログインする</a></li>
        <li class="header_list"><a href="#">新規登録</a></li>
    </div>
  </div>
</header>
