<div class="rooms">
  <% @rooms.each do |room| %>
    <% away_team = room.teams.select{|team| team.id != current_team.id }[0]%> <%# away_teamに格納 %>
    <div class="room" id="room">
      <div class="room-name">
        <%if away_team.image.attached?%>
          <%= image_tag (away_team.image), class: "room-icon"%>
        <%else%>
          <%= image_tag "noimage.png" ,class: "room-icon"%>
        <%end%>
        <%= link_to away_team.name, team_room_messages_path(current_team.id, room.id), id: "room-color", class: "room-color" %>
      </div>
      <div class="d-button" style="display: none">
        <%= link_to "削除", team_room_path(current_team.id, room.id), method: :delete, data: {confirm: "ルームを削除してもいいですか？"},id:"dest-btn"%>
      </div>
    </div>
  <%end%>
</div>
<div class="destroy-call" id="dest-call">
  <div class="destroy-call-btn" id="call-btn">
    トークルームの削除
  </div>
</div>
 