<%= render "shared/main_header" %>
<div class="top-height"></div>

<div class="wrapper">

  <div class="side-bar">
    <div class="rooms">
      <% current_team.rooms.each do |room| %>
        <div class="room">
          <div class="room-name">
            <%= link_to room.name, "#"%>
          </div>
        </div>
      <%end%>
    </div>
  </div>

  <div class="chat">
  </div>

</div>