<%= render "shared/main_header" %>
<div class="top-height"></div>

<div class="wrapper">

  <div class="side-bar">
    <div class="rooms">
      <div class="room">
        <div class="room-name">
          ああああああ
        </div>
      </div>
    </div>
  </div>

  <div class="chat">
  </div>

</div>