<%= render "shared/main_header" %>
<div class="top-height"></div>

<div class="wrapper">

  <div class="side-bar">
    <div class="rooms">
      <% current_team.rooms.each do |room| %>
        <div class="room-container">
          <div class="room-name">
            <%= image_tag (room.teams.select{|team| team.id != current_team.id }[0].image), class: "room-icon"%>
            <%= link_to room.teams.select{|team| team.id != current_team.id }[0].name, "#"%>
          </div>
        </div>
      <%end%>
    </div>
  </div>

  <div class="chat">
  </div>

</div>