.top-height{
  height: 10vh;
  width:100%;
}

.errors-container{
  margin: 0 auto;
  padding: 10px;
  width: 60%;
  border: solid 1px red;
  color: red;
  background-color:rgba($color: #f5b2b2, $alpha: 0.6);
}

.account-page  {
  width: 100vw;
  height: calc(100vh - 10vh - 8vh);
  margin: 0 auto ;
  overflow: scroll;
  background-image:url("game.jpg");
  background-size: cover;
  background-position: center;

  .background-c{
    background-color: rgba($color: lightgrey, $alpha: 0.8);
  }

  .account-page__inner{
    margin: 30px auto;
    width: 70vw;
    padding: 10px 0;
    text-align: center;
    h5{
      width: 100%;
      margin: 10px 0;
      font-size: 25px;
    }
    .field-label{
      margin: 15px;
    }
    .field-input{
      height: 40px;
      input{
        height: 100%;
        width: 50%;
        padding-left: 10px;
      }
    }
    .action{
      margin: 30px;
      .btn{
        width: 200px;
        height:50px;
        font-weight: bold;
        background-color: #409ecc;
        color: white;
        border: darkblue;
        border-radius: 5px;

      }
    }

    
  }
}

