// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family: 'Hiragino Maru Gothic ProN';
}

.mem-index-main-wrapper{
  width: 100vw;
  height: 82vh;
  background-image: url("dagout.jpg");
  background-size: cover;
  background-position: top center;

  .mem-index-container{
    width: 70vw;
    height:100%;
    padding: 20px 10px;
    margin: 0 auto;
    background-color: hotpink;
  }
}