// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.header-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-room a {
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}

.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 10vh);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}

// message部分
.messages {
  background-color: #FAFAFA;
  height: calc(90vh - 90px);
  padding: 46px 40px 0;
  overflow: scroll;

  .message-container{
    margin: 20px 0 40px;
  }
    .right-box-upper{
      margin-left: 55%;
    }
 
    .message{
      font-size: 80%;

      .upper-message{
        height: 50px;
        display: flex;
        
        .message-icon{
          height: 50px;
          width: 50px;
        }
      }
      
      .right-box-lower{
        margin-left: 40%;
      }

      .lower-container{
        margin: 8px 10px;
      }
      
      .lower-message{
        border: 1px solid;
        border-radius: 5px;
        width: 50%;
        
        .message-content{
          padding: 10px;
      }

      .right {
        background-color: rgba($color: #90ee90, $alpha: 0.9) ;
      }
    }
  }
}





// form部分
.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}
