// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  display: flex;
}

// side-bar
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}

// chat文
.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}